{
    "prompt_manager": {
        "template_dir": "res/agent/prompts"
    },

    "main_chat": {
        "llm_module": {
            "llm": {
                "api_type": "siliconflow",
                "model": "Pro/deepseek-ai/DeepSeek-V3",
                "api_key": "$SILICONFLOW_API_KEY",
                "base_url": "https://api.siliconflow.cn/v1",
                "temperature": 0.7,
                "max_tokens": 16384,
                "top_p": 0.9
            },
            "prompt_name": "daily_chat_prompt"
        },
        "static_variables_file": "res/agent/persona/static_variables.json"
    },

    "conversation_manager": {
        "history_dir": "data/memory/conversation_history",
        "max_file_lines": 1000,
        "recent_history_limit": 100,
        "context_file": "data/memory/context/context.json",
        "raw_conversation_context_limit": 80,
        "not_zip_conversation_count": 16,
        "forget_conversation_days": 10,
        "llm_module": {
            "llm": {
                "api_type": "siliconflow",
                "model": "Pro/deepseek-ai/DeepSeek-V3",
                "api_key": "$SILICONFLOW_API_KEY",
                "base_url": "https://api.siliconflow.cn/v1",
                "temperature": 0.7,
                "max_tokens": 16384,
                "top_p": 0.9
            },
            "prompt_name": "summary_prompt"
        }
    },

    "tts":{
        "character_name":"LuoTianyi",
        "onnx_model_dir":"res/tts/lty_custom_onnx_model",
        "language":"zh",
        "reference_audio_dir":"res/tts/reference_audio",
        "reference_audio_lyrics" : "res/tts/reference_audio/lrc.json",
        "save_dir":"data/tts_output",
        "api_script_path":"src/GPT_SoVITS/api_v2.py",
        "server_config_path":"config/tts_infer.yaml",

        "tone_ref_audio_projection": {
            "normal": "叙述的参考音频",
            "happy": "可爱的参考音频2",
            "tender": "深情的参考音频",
            "sad": "难过的参考音频",
            "angry": "活力的参考音频"
        }
    },

    "live2d":{
        "model":{
            "model_version": "v3",
            "model_path": "res/live2d/models/luo/model.model3.json",
            "default_expression": "normal",
            "offset": [0, -0.2]
        },
        "interface_config_path":"config/live2d_interface_config.json"
    },

    "gui":{
        "chat_window":{
            "font_size": 16,
            "load_history_num": 20
        },
        "live2d_container":{
            "live2d_background":{
                "type": "image",
                "image_path": "res/live2d/backgrounds/bg2.jpg"
            }
        }
    },

    "crawler": {
        "activated": true,
        "data_dir": "data/crawled_data",
        "vcpedia": {
            "base_url": "https://vcpedia.cn",
            "crawl_delay_range": [1.0, 2.0],
            "output_dir": "data/crawled_data",
            "max_pages": 1000
        },
        "use_llm": false,
        "llm_module": {
            "llm": {
                "api_type": "siliconflow",
                "model": "Qwen/Qwen3-32B",
                "api_key": "$SILICONFLOW_API_KEY",
                "base_url": "https://api.siliconflow.cn/v1",
                "temperature": 0.7,
                "max_tokens": 16384,
                "top_p": 0.9
            },
            "prompt_name": "crawl_prompt"
        }
    },

    "memory_manager":{
        "graph_retriever": {
            "retriever_type": "memory",
            "graph_data_dir": "res/knowledge",
            "graph_data_path": "knowledge_graph.json",
            "graph_alias_path": "alias.json"
        },
        "vector_store": {
            "store_type": "chroma",
            "embedding_model": {
                "api_type": "siliconflow",
                "model": "BAAI/bge-large-zh-v1.5",
                "api_key": "$SILICONFLOW_API_KEY",
                "base_url": "https://api.siliconflow.cn/v1"
            },
            "vector_store_path": "data/memory/vector_store",
            "collection_name": "luotianyi_memory"
        },
        "user_profile":{
            "profile_file": "data/memory/user_profile/user_profile.json",
            "max_profile_length": 300,
            "profile_update_freq":50,
            "llm_module": {
                "llm": {
                    "api_type": "siliconflow",
                    "model": "Pro/deepseek-ai/DeepSeek-V3",
                    "api_key": "$SILICONFLOW_API_KEY",
                    "base_url": "https://api.siliconflow.cn/v1",
                    "temperature": 0.7,
                    "max_tokens": 16384,
                    "top_p": 0.9
                },
                "prompt_name": "user_profile_update_prompt"
            }
        },
        "memory_searcher": {
            "max_k_graph_entities": 3,
            "max_k_vector_entities": 5,
            "llm_module": {
                "llm": {
                    "api_type": "siliconflow",
                    "model": "Pro/deepseek-ai/DeepSeek-V3",
                    "api_key": "$SILICONFLOW_API_KEY",
                    "base_url": "https://api.siliconflow.cn/v1",
                    "temperature": 0.7,
                    "max_tokens": 16384,
                    "top_p": 0.9
                },
            "prompt_name": "memory_search_prompt"
            }
        },
        "memory_writer": {
            "recent_update_path": "data/memory/context/recent_update.json",
            "llm_module": {
                "llm": {
                    "api_type": "siliconflow",
                    "model": "Pro/deepseek-ai/DeepSeek-V3",
                    "api_key": "$SILICONFLOW_API_KEY",
                    "base_url": "https://api.siliconflow.cn/v1",
                    "temperature": 0.7,
                    "max_tokens": 16384,
                    "top_p": 0.9
                },
                "prompt_name": "memory_write_prompt"
            }
        }
    }
}